{% extends "base.html" %}
{% block content %}
 <!-- <h1> {{ object.name }} </h1> -->
<!-- <p> {{ object.description }} </p>
<p> {{ object.direction }} </p>
<p> {{ object.price }} </p>
{% for ingredients in object.recipeingredients_set.all%}
    <h1> {{ ingredients.name }} </h1>
    <p> {{ ingredients.as_imperial }} </p>
    <p> {{ ingredients.direction }} </p>
  {% endfor %} -->
<h1>My recipes</h1>
<a href='{% url "cafe:create" %}'>Add Recipe</a>
<ul>
    {% for x in object_list %}

         <li><a href="{{x.get_absolute_url}}/">{{x.name}}</li>
    {% endfor %}
</ul>
{% endblock %}  
